/* ==========================================================================
   Custom CSS styles
   ========================================================================== */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

footer {
  text-align: center;
}